<div class="well" style="padding-top: 6px;">
  <div class="row" style="margin: auto">
    <form>
      <div class="col-sm-3"></div>
      <!--Non storage p-->
      <div class="col-sm-3">
        <h4>Non storage p</h4>
        <div class="btn-group-vertical" style="width: 100%">
          <input type="radio" id="kx1" name="radios">
          <label class="btn btn-info" for="kx1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

          <input type="radio" id="kx2" name="radios">
          <label class="btn btn-info" for="kx2">3 - 4 months</label>

          <input type="radio" id="kx3" name="radios">
          <label class="btn btn-info" for="kx3">5 - 6 months</label>

          <input type="radio" id="kx4" name="radios">
          <label class="btn btn-info" for="kx4">7 - 12 months</label>

          <input type="radio" id="kx5" name="radios">
          <label class="btn btn-info" for="kx5">Dead Stock</label>
        </div>
      </div>
      <!--Storage p-->
      <div class="col-sm-3">
        <h4>Storage p</h4>
        <div class="btn-group-vertical" style="width: 100%">
          <input type="radio" id="kx6" name="radios">
          <label class="btn btn-info" for="kx6" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

          <input type="radio" id="kx7" name="radios">
          <label class="btn btn-info" for="kx7">3 - 4 months</label>

          <input type="radio" id="kx8" name="radios">
          <label class="btn btn-info" for="kx8">5 - 6 months</label>

          <input type="radio" id="kx9" name="radios">
          <label class="btn btn-info" for="kx9">7 - 12 months</label>

          <input type="radio" id="kx10" name="radios">
          <label class="btn btn-info" for="kx10">Dead Stock</label>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <!--&lt;!&ndash;By grade&ndash;&gt;-->
      <!--<div class="col-sm-3">-->
        <!--<h4>By grade</h4>-->
        <!--<div class="btn-group-vertical" style="width: 100%">-->
          <!--<input type="radio" id="radio13" name="radios">-->
          <!--<label class="btn btn-info" for="radio13" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Standard</label>-->

          <!--<input type="radio" id="radio14" name="radios">-->
          <!--<label class="btn btn-info" for="radio14">Non Standard Size</label>-->

          <!--<input type="radio" id="radio15" name="radios">-->
          <!--<label class="btn btn-info" for="radio15">Non Standard Products</label>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;Special papers&ndash;&gt;-->
      <!--<div class="col-sm-3">-->
        <!--<h4>Special papers</h4>-->
        <!--<div class="btn-group-vertical" style="width: 100%">-->
          <!--<input type="radio" id="radio16" name="radios">-->
          <!--<label class="btn btn-info" for="radio16" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">MW</label>-->

          <!--<input type="radio" id="radio17" name="radios">-->
          <!--<label class="btn btn-info" for="radio17">SK</label>-->

          <!--<input type="radio" id="radio18" name="radios">-->
          <!--<label class="btn btn-info" for="radio18">SKE</label>-->

          <!--<input type="radio" id="radio19" name="radios">-->
          <!--<label class="btn btn-info" for="radio19">WEK</label>-->
        <!--</div>-->
      <!--</div>-->
    </form>
  </div>
</div>

<!--http://viralpatel.net/blogs/css-radio-button-checkbox-background/-->
